

<ion-app>
  <ion-header id="mainHeader">  
    <ion-toolbar>  
      <ion-title slot="start" [routerLink]="['/']">  
        Peeped  
      </ion-title>  
      <ion-item>
        <ion-thumbnail slot="end">
                <ion-menu-button>       
                   <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
                </ion-menu-button>  
        </ion-thumbnail>
      </ion-item>
    </ion-toolbar>  
  </ion-header> 
<ion-menu side="end" menuId="custom" contentId="user_main" class="my-custom-menu">
  <ion-header>
    <ion-toolbar color="tertiary">
      <ion-title>Welcome <!--Todo update username-->User</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="has-header">
    <ion-list>
      <ion-item [routerLink]="['/profile']">Profile</ion-item>
      <ion-item [routerLink]="['/messages']">Messages <ion-badge color="danger">66</ion-badge>
      </ion-item>
      <ion-item [routerLink]="['/notifications']">Notifications <ion-badge color="success">44</ion-badge>
      </ion-item>
      <ion-item [routerLink]="['/friends']">Friends</ion-item>
      <ion-item [routerLink]="['/settings']">Settings</ion-item>
      <ion-item>
        <ion-icon slot="start" name="moon"></ion-icon>
        <ion-label>Dark mode</ion-label>
        <ion-toggle [(ngModel)]="dark" (ionChange)="updateDarkMode()"></ion-toggle>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
<ion-router-outlet id="user_main"></ion-router-outlet>
  <ion-router-outlet style="margin-top:100px;"></ion-router-outlet>
</ion-app>
